html {
    font-size: 22px
}

body {
    background-color: #333;
    color: whitesmoke;
}
a {
    color : aliceblue;
}

a:visited {
    color : lightcyan;
}

a:hover, a:active {
    color : rgb(217, 224, 191);
}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}